<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @family_relation.name %>
</p>

<%= link_to 'Edit', edit_family_relation_path(@family_relation) %> |
<%= link_to 'Back', family_relations_path %>
