<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @married_status.name %>
</p>

<%= link_to 'Edit', edit_married_status_path(@married_status) %> |
<%= link_to 'Back', married_statuses_path %>
